@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    content: "";
  }

  /* Hack to line-height for html2canvas */
  img {
    @apply inline-block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  :root {
    --s: 1;
    --bg: 255 255 255;
    --text: 0 0 0;
    --color-bg: rgb(var(--bg));
    --color-text: rgb(var(--text));
  }

  /* Page Loader */
  .js .loading::before,
  .js .loading::after {
    content: "";
    position: fixed;
    z-index: 1000;
  }

  .js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    opacity: 0.4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
  }

  @keyframes loaderAnim {
    to {
      opacity: 1;
      transform: scale3d(0.7, 0.7, 1);
    }
  }
}

@layer utilities {
  .dom-element {
    width: 100%;
    height: 100%;
    font-size: clamp(54px, 15vw, 160px);
    max-width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    line-height: 0.8;
    font-weight: 700;
  }
}
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  padding: 1em;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: transparent;
}

.cpu-architecture {
  offset-anchor: 10px 0px;
  animation: animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, -0.01, 0, 0.99);
}

.cpu-line-1 {
  offset-path: path("M 10 20 h 79.5 q 5 0 5 5 v 30");
  animation-duration: 5s;
  animation-delay: 1s;
}

.cpu-line-2 {
  offset-path: path("M 180 10 h -69.7 q -5 0 -5 5 v 40");
  animation-delay: 6s;
  animation-duration: 2s;
}

.cpu-line-3 {
  offset-path: path("M 130 20 v 21.8 q 0 5 -5 5 h -25");
  animation-delay: 4s;
  animation-duration: 6s;
}

.cpu-line-4 {
  offset-path: path("M 170 80 v -21.8 q 0 -5 -5 -5 h -65");
  animation-delay: 3s;
  animation-duration: 3s;
}

.cpu-line-5 {
  offset-path: path(
    "M 135 65 h 15 q 5 0 5 5 v 10 q 0 5 -5 5 h -39.8 q -5 0 -5 -5 v -35"
  );
  animation-delay: 9s;
  animation-duration: 4s;
}

.cpu-line-6 {
  offset-path: path("M 94.8 95 v -46");
  animation-delay: 3s;
  animation-duration: 7s;
}

.cpu-line-7 {
  offset-path: path(
    "M 88 88 v -15 q 0 -5 -5 -5 h -10 q -5 0 -5 -5 v -5 q 0 -5 5 -5 h 28"
  );
  animation-delay: 4s;
  animation-duration: 4s;
}

.cpu-line-8 {
  offset-path: path("M 30 30 h 25 q 5 0 5 5 v 6.5 q 0 5 5 5 h 35");
  animation-delay: 3s;
  animation-duration: 3s;
}

@keyframes animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
